@model AssignmentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Title">
        </label>
        <input asp-for="Title" class="form-control" />
    </div>     <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Status">
        </label>
        <input asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" type="hidden"></label>
        <select  asp-for="ProjectId" asp-items="ViewBag.Projects" multiple class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="WorkerId" ></label>
        <select asp-for="WorkerId" asp-items="ViewBag.Workers" multiple class="form-control"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>