 @model CommentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

 <form asp-action="Create" method="post" enctype="multipart/form-data">
     @Html.AntiForgeryToken()

     <div class="form-group">
         <label asp-for="WorkerId">Worker</label>
         <select asp-for="WorkerId" class="form-control" asp-items="ViewBag.Workers">
         </select>
     </div>
     <div class="form-group">
         <label asp-for="AssignmentId">Project</label> <select asp-for="AssignmentId"
                                                               asp-items="ViewBag.Assignments" class="form-control">
             <option></option>
         </select>
     </div>
     <label asp-for="Description">
     </label>
     <textarea asp-for="Description" class="form-control"></textarea>
     <div class="form-group">
         <button  type="submit" class="btn btn-primary">Save</button>
     </div>
 </form>

