@model WorkerDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken() <input type="hidden" asp-for="WorkerId" />

    <div class="form-group">
        <label asp-for="Name">
        </label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status"></label> <input asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label> <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RoleId"></label> <select asp-for="RoleId"
                                                  asp-items="ViewBag.Roles" class="form-control">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId"></label> <select asp-for="ProjectId"
                                                     asp-items="ViewBag.Projects" class="form-control">
            <option></option>
        </select>
    </div>
    <div style="display: none;" class="form-group">
        <label asp-for="AssignmentsId" type="hidden"></label>
        <select type="hidden" asp-for="AssignmentsId" asp-items="ViewBag.Assignments" multiple class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form> 
