@model List<ProjectDto>
@{
    ViewData["Title"] = "Projects";
}


<html>
<head>
    <h1>@ViewData["Title"]</h1>
</head>
<body>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var projects in Model.Where(x=>x.Status=="Active"))
    {
        <tr>
            <td><a asp-action="Get" asp-route-id="@projects.ProjectId">@projects.Name</a></td>
            <td>@projects.Description</td>
        </tr>
    }
    <a style="float:right" class="btn btn-info" asp-action="Create" >Create new project</a>
    </tbody>
</table>
</body>
</html>

